.example-spacer {
    flex: 1 1 auto;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;      
  display: flex;   
  justify-content: center;   
}

.mat-button-toggle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00bcff;
}

.mat-button-toggle-checked{
  background-color: #05a3dd
}
.main-toolbar{
  height: 3em;
}

.icon-footer{
  font-size: 30px;
}

.card-header{
  display: flex;
  justify-content: center;
}



.login{
  display: flex;
  flex-direction: column;
}
@media(min-width: 430px){
  .login{
    width: 429px;
  }
}

@media(max-width: 430px){
  .login{
    width: 100%;
  }
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}